[submodule "fHoaiAn/fHoaDon"]
	path = fHoaiAn/fHoaDon
	url = https://github.com/HoaiAn293/ProjectQLNhaSach.git
[submodule "fHoaiAn/fThongKe"]
	path = fHoaiAn/fThongKe
	url = https://github.com/HoaiAn293/ProjectQLNhaSach.git
